version: '3'

# ホストでDBのデータを保持する
volumes: 
  db-data:

services: 
  web:
    build: .
    volumes:
      - ./aiproj:/code
    ports:
      - "8000:8000"
    tty: true
    stdin_open: true
    environment: 
      - 'DATABASE_PASSWORD=postgres'
    command: python3 manage.py runserver '0.0.0.0:8000'
    depends_on:
      - db
    links: 
      - db

  db: 
    image: postgres
    volumes: 
        - 'db-data:/var/lib/postgresql/data'
    environment: 
        - 'POSTGRES_HOST_AUTH_METHOD=trust'

