{% extends 'base.html' %}

{% block content %}
<h1>Hello from Template in titanic dir</h1>

<form class="form-signin" method="POST" action={% url 'result' %}> {% csrf_token %}
    <img class="mb-4" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">乗船者の入力</h1>
  
    <!-- エラーがある時の表示 -->
    {% if error %}
    {{ error }}
    {% endif %}
  
    <!-- nameタグでモデルの要素名に対応付けられる -->
    <label for="inputEmail" class="sr-only">User Name</label>      
    <input type="text" id="inputEmail" class="form-control" name="Name" placeholder="Name" required autofocus>
    
    <label for="inputEmail" class="sr-only">User Name</label>      
    <input type="text" id="inputEmail" class="form-control" name="Pclass" placeholder="Pclass" required>

    <label for="inputEmail" class="sr-only">User Name</label>      
    <input type="text" id="inputEmail" class="form-control" name="Gender" placeholder="Gender" required>
    
    <label for="inputEmail" class="sr-only">User Name</label>      
    <input type="text" id="inputEmail" class="form-control" name="Age" placeholder="Age" required>

    <div class="checkbox mb-3">
    </div>
  
    <button class="btn btn-lg btn-primary btn-block" type="submit">結果を見る</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
  </form>
{% endblock content %}